.HistoryCon > ul {
  display: flex;
  flex-direction: column;
  gap: var(--fs8);
  max-height: 450px;
  overflow: auto;
}
.HistoryCon > ul > li {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs20);
  background: var(--light-colors-white);
  padding: var(--fs12);
  align-items: anchor-center;
  position: relative;
}
.HistoryCon ul li:hover > p {
  filter: blur(4px);
}
.HistoryCon > ul > li > button {
  display: none;
}
.HistoryCon ul li:hover button {
  filter: none;
  display: block;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.income .price {
  color: var(--dark-colors-blue);
}
.income .price::before {
  content: '+';
}
.expense .price {
  color: var(--dark-colors-red);
}
.expense .price::before {
  content: '-';
}
@media (max-width: 680px) {
  .HistoryCon {
    margin-top: 64px;
  }
}
